@CHARSET "ISO-8859-1";


.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}


.site-footer {
	background-color: #222;
	color: #fff;
	margin-top: 30px;
	padding-top: 30px;
}
.bottom-footer {
	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2;
}
.footer-nav li {
	display: inline;	
}
.footer-nav {
	text-align: right;
	list-style: none;
}
.footer-nav li:not(:FIRST-CHILD):BEFORE {
	content: '|';
	padding: 0px 10px;
}
.footer-nav a {
	color: #b2b2b2;	
}
.footer-nav a:HOVER {
	color: #fff;
	text-decoration: none;
}